<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>跳转</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!---->
</div>
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/plugins/jQueryUI/jquery-ui.min.js"></script>
<script language='javascript' th:inline="javascript">
    $(document).ready(function () {
        // 缓存用户名
        var username = [[${user.username}]];
        window.localStorage.setItem("username", username);
        // 缓存用户权限
        var authorities = [[${user.authorities}]];
        window.localStorage.setItem("authorities", JSON.stringify(authorities));
        // 最后登录时间
        time = new Date();
        y = time.getFullYear();
        m = time.getMonth() + 1;
        d = time.getDate();
        h = time.getHours();
        mi = time.getMinutes();
        s = time.getSeconds();
        m = m < 10 ? '0' + m : m;
        d = d < 10 ? '0' + d : d;
        h = h < 10 ? '0' + h : h;
        mi = mi < 10 ? '0' + mi : mi;
        s = s < 10 ? '0' + s : s;
        time = y + '-' + m + '-' + d + ' ' + h + ':' + mi + ':' + s;
        window.localStorage.setItem("loginTime", time);

        location.href="/index";
    });
</script>
</body>
</html>