<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>跳转</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!---->
</div>
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/plugins/jQueryUI/jquery-ui.min.js"></script>
<script language='javascript' th:inline="javascript">
    $(document).ready(function () {
        // 缓存用户名
        window.localStorage.setItem("username", [[${user.username}]]);
        // 缓存用户权限
        window.localStorage.setItem("authorities", JSON.stringify([[${user.authorities}]]));
        // 最后登录时间
        window.localStorage.setItem("loginTime", [[${loginTime}]]);
        // 未读邮件
        window.localStorage.setItem("mail", JSON.stringify([[${mail}]]));
        location.href="/index";
    });
</script>
</body>
</html>