<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>日志列表</title>
    <meta name="description" content="AdminLTE2定制版">
    <meta name="keywords" content="AdminLTE2定制版">
    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
            name="viewport">
    <link rel="stylesheet"
          href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet"
          href="/plugins/iCheck/square/blue.css">
    <link rel="stylesheet"
          href="/plugins/morris/morris.css">
    <link rel="stylesheet"
          href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet"
          href="/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet"
          href="/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet"
          href="/plugins/datatables/dataTables.bootstrap.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.css">
    <link rel="stylesheet"
          href="/plugins/treeTable/jquery.treetable.theme.default.css">
    <link rel="stylesheet"
          href="/plugins/select2/select2.css">
    <link rel="stylesheet"
          href="/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet"
          href="/css/style.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.css">
    <link rel="stylesheet"
          href="/plugins/ionslider/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet"
          href="/plugins/bootstrap-slider/slider.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 页面头部 -->
    <div th:replace="header.html"></div>
    <!-- 页面头部 /-->
    <!-- 导航侧栏 -->
    <div th:replace="sidebar.html"></div>
    <!-- 导航侧栏 /-->
    <!-- 内容区域 -->
    <div class="content-wrapper">
        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                日志管理
                <small>日志列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i
                        class="fa fa-dashboard"></i> 首页</a></li>
                <li><a
                        href="/sysLog/findAll">日志管理</a></li>
                <li class="active">日志列表</li>
            </ol>
        </section>
        <!-- 内容头部 /-->
        <!-- 正文区域 -->
        <section class="content"> <!-- .box-body -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <!--工具栏-->
                    <!--<h3 class="box-title">日志列表</h3>-->
                    <div class="pull-left">
                        <div class="form-group form-inline">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" title="删除"
                                        onclick="doDelete()">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                                <button type="button" class="btn btn-default" title="刷新"
                                        onclick="window.location.reload();">
                                    <i class="fa fa-refresh"></i> 刷新
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="box-tools pull-right">-->
                    <!--<div class="has-feedback">-->
                    <!--<input type="text" class="form-control input-sm"-->
                    <!--placeholder="搜索"> <span-->
                    <!--class="glyphicon glyphicon-search form-control-feedback"></span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--工具栏-->
                </div>
                <div class="box-body">
                    <!-- 数据表格 -->
                    <div class="table-box">
                        <!--数据列表-->
                        <table id="dataList"
                               class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                            <tr>
                                <th class="" style="padding-right: 0px"><input id="selall"
                                                                               type="checkbox"
                                                                               class="icheckbox_square-blue sorting_disabled"></th>
                                <th class="sorting_desc">ID</th>
                                <th class="sorting">访问时间</th>
                                <th class="sorting">访问用户</th>
                                <th class="sorting">IP</th>
                                <th class="sorting">访问路径</th>
                                <th class="sorting">访问时长</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="sysLog : ${listInfo}">
                                <td><input name="ids" type="checkbox"></td>
                                <td th:text="${sysLog.id}"></td>
                                <td th:text="${sysLog.visitTime}"></td>
                                <td th:text="${sysLog.username}"></td>
                                <td th:text="${sysLog.ip}"></td>
                                <td th:text="${sysLog.url}"></td>
                                <td th:text="${sysLog.executionTime}"></td>
                                <!--<td th:text="${sysLog.method}"></td>-->
                            </tr>
                            </tbody>
                        </table>
                        <!--数据列表/-->
                    </div>
                    <!-- 数据表格 /-->
                </div>
                <!-- /.box-body -->

                <!-- .box-footer-->
                <!--<div class="box-footer">-->
                <!--<div class="pull-left">-->
                <!--<div class="form-group form-inline">-->
                <!--共<span th:text="${pageInfo.pages}"></span>页，-->
                <!--每页<select th:field="${pageInfo.pageSize}" th:value="${pageInfo.pageSize}" class="form-control" onchange="getPageSize()" id="pageSizeSelect">-->
                <!--<option th:selected="${pageInfo.pageSize==10}" value="10">10</option>-->
                <!--<option th:selected="${pageInfo.pageSize==20}" value="20">20</option>-->
                <!--<option th:selected="${pageInfo.pageSize==50}" value="50">50</option>-->
                <!--</select>条，-->
                <!--共<span th:text="${pageInfo.total}"></span>条。-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="box-tools pull-right">-->
                <!--<ul class="pagination">-->
                <!--&lt;!&ndash;th:classappend="${pageInfo.isFirstPage} ? 'disabled' : '' "&ndash;&gt;-->
                <!--<li th:if="${!pageInfo.isFirstPage}">-->
                <!--<a th:href="@{'/sysLog/findAll?page=1&size='+${pageInfo.pageSize}}" aria-label="Previous"><<</a>-->
                <!--</li>-->
                <!--<li th:if="${pageInfo.hasPreviousPage}">-->
                <!--<a th:href="@{'/sysLog/findAll?page='+${pageInfo.prePage}+'&size='+${pageInfo.pageSize}}"><</a>-->
                <!--</li>-->
                <!--<li th:each="i : ${pageInfo.navigatepageNums}" class="pagination" th:classappend="${i == pageInfo.pageNum} ? 'active' : '' ">-->
                <!--<a th:href="@{'/sysLog/findAll?page='+${i}+'&size='+${pageInfo.pageSize}}">-->
                <!--<span th:text="${i}"></span>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li th:if="${pageInfo.hasNextPage}">-->
                <!--<a th:href="@{'/sysLog/findAll?page='+${pageInfo.nextPage}+'&size='+${pageInfo.pageSize}}">></a>-->
                <!--</li>-->
                <!--<li th:if="${!pageInfo.isLastPage}">-->
                <!--<a th:href="@{'/sysLog/findAll?page='+${pageInfo.pages}+'&size='+${pageInfo.pageSize}}" aria-label="Next">>></a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!-- /.box-footer-->
            </div>
        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- 内容区域 /-->
    <!-- 底部导航 -->
    <div th:replace="footer.html"></div>
    <!-- 底部导航 /-->
    <!-- 模态提示窗口 -->
    <div class="modal fade" id="sys-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h5>
                </div>
                <div class="modal-body">
                    <p>[Message]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script
        src="/plugins/jQueryUI/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script
        src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script
        src="/plugins/raphael/raphael-min.js"></script>
<script
        src="/plugins/morris/morris.min.js"></script>
<script
        src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<script
        src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script
        src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script
        src="/plugins/knob/jquery.knob.js"></script>
<script
        src="/plugins/daterangepicker/moment.min.js"></script>
<script
        src="/plugins/daterangepicker/daterangepicker.js"></script>
<script
        src="/plugins/daterangepicker/daterangepicker.zh-CN.js"></script>
<script
        src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script
        src="/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script
        src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script
        src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script
        src="/plugins/fastclick/fastclick.js"></script>
<script
        src="/plugins/iCheck/icheck.min.js"></script>
<script
        src="/plugins/adminLTE/js/app.min.js"></script>
<script
        src="/plugins/treeTable/jquery.treetable.js"></script>
<script
        src="/plugins/select2/select2.full.min.js"></script>
<script
        src="/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script
        src="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js"></script>
<script
        src="/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script
        src="/plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js"></script>
<script
        src="/plugins/bootstrap-markdown/js/markdown.js"></script>
<script
        src="/plugins/bootstrap-markdown/js/to-markdown.js"></script>
<script
        src="/plugins/ckeditor/ckeditor.js"></script>
<script
        src="/plugins/input-mask/jquery.inputmask.js"></script>
<script
        src="/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script
        src="/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script
        src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script
        src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script
        src="/plugins/chartjs/Chart.min.js"></script>
<script
        src="/plugins/flot/jquery.flot.min.js"></script>
<script
        src="/plugins/flot/jquery.flot.resize.min.js"></script>
<script
        src="/plugins/flot/jquery.flot.pie.min.js"></script>
<script
        src="/plugins/flot/jquery.flot.categories.min.js"></script>
<script
        src="/plugins/ionslider/ion.rangeSlider.min.js"></script>
<script
        src="/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();
        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });

    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }

    $(document).ready(function () {
        // 激活导航位置
        setSidebarActive("order-manage");
        // 列表按钮
        $("#dataList td input[type='checkbox']").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });
        // 全选操作
        $("#selall").click(function () {
            var clicks = $(this).is(':checked');
            if (!clicks) {
                $("#dataList td input[type='checkbox']").iCheck("uncheck");
            } else {
                $("#dataList td input[type='checkbox']").iCheck("check");
            }
            $(this).data("clicks", !clicks);
        });

        var table = $('#dataList').DataTable({
            'paging': true,        //开启分页
            'lengthChange': true,  //开启每页显示数量选择
            'info': true,          //开启显示底端信息
            'searching': true,     //开启搜索
            'ordering': true,      //开启排序
            'autoWidth': true,     //开启自动列宽
            "pagingType": "full_numbers",
                        // simple               上页，下页
                        // simple_numbers       上页，下页，数字
                        // full                 首页，尾页，上页，下页
                        // full_numbers         首页，尾页，上页，下页，数字
                        // first_last_numbers   首页，尾页，数字
            "language": {
                "sEmptyTable": "没有相关数据",
                "info": "当前显示第_PAGE_页，共_PAGES_页",
                "sInfo": "共_TOTAL_条，当前显示第_START_到_END_条",
                "sInfoFiltered": "(全部记录_MAX_条)",
                "sInfoEmpty": "共筛选到0条",
                "sSearch": "搜索:",
                "sLengthMenu": "显示_MENU_条",
                "sZeroRecords": "未筛选到相关内容",
                "paginate": {
                    "sFirst": "首页",
                    "sLast": "尾页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "first": "First page",
                    "last": "Last page",
                    "next": "Next page",
                    "previous": "Previous page"
                }
            }
        });
    });

    // function getPageSize() {
    //     var pageSize = $("#pageSizeSelect").val();
    //     location.href = "/sysLog/findAll?page=1&size=" + pageSize;
    // }

    function doDelete() {
        var checkNum = $('input:checkbox[name="ids"]:checked').length;
        if (checkNum == 0) {
            showMsg("请选择至少一条数据", function() {});
            return;
        }
        var checkVal = [];
        $.each($('input:checkbox[name="ids"]:checked'),function(){
            checkVal.push($(this).parent().parent().next().text());//$(this).val()
        });
        showConfirm("你确认要删除所选日志吗？", function () {
            location.href = "/sysLog/delete?ids=" + checkVal;
        });
    }


    /**
     * 显示提示消息（自动关闭）
     * @param msg
     * @param sec 显示时间（毫秒）
     * @param callback 回调函数
     */
    function showTip(msg, sec, callback){
        if(!sec) {
            sec = 1000;
        }
        Modal.tip({
            title:'提示',
            msg: msg
        }, sec);
        setTimeout(callback, sec);
    }

    /**
     * 显示消息
     * @param msg
     */
    function showMsg(msg, callback){
        Modal.alert({
            title:'提示',
            msg: msg,
            btnok: '确定'
        }).on(function (e) {
            if(callback){
                callback();
            }
        });
    }

    /**
     * 模态对话框
     * @param msg
     * @returns
     */
    function showConfirm(msg, callback) {
        // var res = false;
        Modal.confirm({
            title: '提示',
            msg: msg,
        }).on(function (e) {
            callback();
            // res = true;
        });
        // return res;
    }
    /***
     * 模态框封装
     */
    $(function () {
        window.Modal = function () {
            var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
            var alr = $("#sys-modal");
            var ahtml = alr.html();

            var _tip = function (options, sec) {
                alr.html(ahtml);    // 复原
                alr.find('.ok').hide();
                alr.find('.cancel').hide();
                alr.find('.modal-content').width(500);
                _dialog(options, sec);

                return {
                    on: function (callback) {
                    }
                };
            };

            var _alert = function (options) {
                alr.html(ahtml);  // 复原
                alr.find('.ok').removeClass('btn-success').addClass('btn-primary');
                alr.find('.cancel').hide();
                _dialog(options);

                return {
                    on: function (callback) {
                        if (callback && callback instanceof Function) {
                            alr.find('.ok').click(function () { callback(true) });
                        }
                    }
                };
            };

            var _confirm = function (options) {
                alr.html(ahtml); // 复原
                alr.find('.ok').show();
                alr.find('.cancel').show();
                _dialog(options);

                return {
                    on: function (callback) {
                        if (callback && callback instanceof Function) {
                            alr.find('.ok').click(function () {
                                callback(true)
                            });
                            alr.find('.cancel').click(function () {
                                return;
                            });
                        }
                    }
                };
            };

            var _dialog = function (options) {
                var ops = {
                    msg: "提示内容",
                    title: "操作提示",
                    btnok: "确定",
                    btncl: "取消"
                };

                $.extend(ops, options);

                var html = alr.html().replace(reg, function (node, key) {
                    return {
                        Title: ops.title,
                        Message: ops.msg,
                        BtnOk: ops.btnok,
                        BtnCancel: ops.btncl
                    }[key];
                });

                alr.html(html);
                alr.modal({
                    width: 250,
                    backdrop: 'static'
                });
            }

            return {
                tip: _tip,
                alert: _alert,
                confirm: _confirm
            }

        }();
    });
</script>
</body>
</html>