<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--视频-->
<!--<video autoplay="autoplay" controls="controls" height="50" width="100%" loop="loop" src="audio/Time.mp3">-->
<!--Your browser does not support the video tag.-->
<!--</video>-->
<!--音频-->
<audio autoplay="autoplay" controls="controls" height="50" width="100%" loop="loop" src="audio/Time.mp3">
    Your browser does not support the audio tag.
</audio>
<br>
<!--画布-->
<!--<canvas id="myCanvas" width="200" height="100"></canvas>-->
<!--<script type="text/javascript">-->
<!--var c=document.getElementById("myCanvas");-->
<!--var cxt=c.getContext("2d");-->
<!--cxt.fillStyle="#000000";-->
<!--var img=new Image();-->
<!--img.src="img/timg.jpg";-->
<!--cxt.drawImage(img,0,0)-->
<!--</script>-->
邮箱: <input type="email" name="email"/><br>
路径: <input type="url" name="url"/><br>
数字: <input type="number" name="number" min="0" max="10" value="0" step="1"/><br>
滑片: <input type="range" name="range" min="0" max="10" value="0" step="1"/><br>
日期: <input type="date" name="date"/><br><!--datetime,datetime-local,month,week-->
搜索: <input type="search" name="date"/><br>
文本: <input type="text" name="text"/><br>
密码: <input type="password" name="password"/><br>
重置: <input type="reset" name="reset"/><br>
提交: <input type="submit" name="submit"/><br>
按钮: <input type="button" name="button" value="按钮"/><br>
多选: <input type="checkbox" name="checkbox" value="1"/>篮球<input type="checkbox" name="checkbox" value="2"/>足球<br>
单选: <input type="radio" name="radio" value="a"/>男<input type="radio" name="radio" value="b"/>女<br>
文件: <input type="file" name="file" value="file"/><br>
图片: <input type="image" src="img/head.png" name="image" value="image"/><br>
选区: <input type="text" list="url_list" name="link"/><br>
<datalist id="url_list">
    <option label="W3School" value="http://www.W3School.com.cn"/>
    <option label="Google" value="http://www.google.com"/>
    <option label="Microsoft" value="http://www.microsoft.com"/>
</datalist>
密钥：user: <input type="text" name="usr_name"/>secret:
<keygen name="security"/>
<input type="submit"/><br>
输出：
<output id="result" onforminput="resCalc()"></output>

</body>
<br>
<script type="text/javascript">
    //WEB存储,localStorage和sessionStorage
    if (localStorage.pagecount) {
        localStorage.pagecount = Number(localStorage.pagecount) + 1;
    }
    else {
        localStorage.pagecount = 1;
    }
    document.write("这是您第" + localStorage.pagecount + "次访问当前页面.");
</script>
</html>