<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_blank">
    <title>HomePage</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style type="text/css">
        /*背景图片*/
        body {
            background-image: url("img/timg.jpg");
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        /*按钮字体*/
        .btn {
            font-family: fantasy;
        }

        /*友情链接，版权信息，输入框-字体*/
        .col-lg-7, .col-lg-7 a, input {
            font-family: times;
            font-size: 1;
            color: #000000;
        }

        /*下拉菜单图标居左*/
        a .glyphicon {
            float: left;
        }

        /*下拉内容对齐父按钮*/
        .dropdown-menu {
            left: 14px;
        }

        /*落款头像位置*/
        .col-lg-5 {
            /* border-right: 1px solid; */
            text-align: right;
        }

        /*落款头像大小*/
        .img-circle {
            width: 40px;
            height: 40px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--轮播图-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
            <!-- 圆点 -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
            </ol>
            <!-- 图片 -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <img src="img/hanxiaoxing.gif" alt="error" class="img-responsive center-block">
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item active">
                    <img src="img/hyosunghan.gif" alt="error" class="img-responsive center-block">
                    <div class="carousel-caption">
                    </div>
                </div>
                <!--<div class="item">-->
                <!--<img src="img/hanxiaoxing.gif" alt="error" class="img-responsive center-block">-->
                <!--<div class="carousel-caption">-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <!-- 翻页 -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row">
        <form class="col-lg-8 col-lg-offset-2" role="form" name="bdfm"
              method="get" action="http://www.baidu.com/s?word">
            <div class="input-group">
                <div class="input-group-btn">
                    <button class="btn btn-lg btn-info" type="reset">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </div>
                <input type="text" class="form-control input-lg" id="focusedInput"
                       name="word" autofocus="autofocus"
                       placeholder="The value of life, not with time, but with the depth to be measured.">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button type="submit" class="btn btn-info btn-lg dropdown-toggle"
                            data-toggle="dropdown">
                        <span class="caret"></span> <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="http://news.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-globe"></span>新闻</a></li>
                        <li><a href="http://tieba.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-file"></span>贴吧</a></li>
                        <li><a href="http://zhidao.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-search"></span>知道</a></li>
                        <li><a href="http://music.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-music"></span>音乐</a></li>
                        <li><a href="http://images.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-picture"></span>图片</a></li>
                        <li><a href="http://v.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-expand"></span>视频</a></li>
                        <li><a href="http://map.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-map-marker"></span>地图</a></li>
                        <li><a href="http://wenku.baidu.com/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-book"></span>文库</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.baidu.com/more/" class="btn btn-lg"><span
                                class="glyphicon glyphicon-th"></span>更多>></a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div
                class="col-lg-2 col-md-3 col-sm-3 col-xs-6 col-lg-offset-2">
            <button class="btn btn-lg btn-block btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                腾讯<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="http://www.qq.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-home"></span>腾讯</a></li>
                <li class="divider"></li>
                <li><a href="http://wx.qq.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-qrcode"></span>微信</a></li>
                <li><a href="https://v.qq.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-film"></span>视频</a></li>
                <li><a href="https://qzone.qq.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-star"></span>空间</a></li>
                <li><a href="https://mail.qq.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-envelope"></span>邮箱</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <button class="btn btn-lg btn-block btn-warning dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                新浪<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="http://www.sina.com.cn/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-home"></span>新浪</a></li>
                <li class="divider"></li>
                <li><a href="http://weibo.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-fire"></span>微博</a></li>
                <li><a href="http://blog.sina.com.cn/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-bold"></span>博客</a></li>

            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <button class="btn btn-lg btn-block btn-warning dropdown-toggle"
                    data-toggle="dropdown">
                搜狐<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="http://www.sohu.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-home"></span>搜狐</a></li>
                <li class="divider"></li>
                <li><a href="http://www.sogou.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-link"></span>搜狗</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <button class="btn btn-lg btn-block btn-danger dropdown-toggle"
                    data-toggle="dropdown">
                网易<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="http://www.163.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-home"></span>网易</a></li>
                <li class="divider"></li>
                <li><a href="http://music.163.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-cd"></span>音乐</a></li>
                <li><a href="https://email.163.com/" class="btn btn-lg"><span
                        class="glyphicon glyphicon-envelope"></span>邮箱</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="row">
        <div
                class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group col-lg-offset-2">
            <a href="http://www.taobao.com/"
               class="btn btn-warning btn-lg btn-block">淘宝</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.youku.com/"
               class="btn btn-success btn-lg btn-block">优酷</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.jd.com/" class="btn btn-danger btn-lg btn-block">京东</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.iqiyi.com/"
               class="btn btn-success btn-lg btn-block">爱奇艺</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div
                class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group col-lg-offset-2">
            <a href="http://www.zol.com.cn/"
               class="btn btn-primary btn-lg btn-block">中关村</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.douyu.com/"
               class="btn btn-warning btn-lg btn-block">斗鱼直播</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.zhaikexueyuan.com/"
               class="btn btn-primary btn-lg btn-block">宅客学院</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.xitongzhijia.net/"
               class="btn btn-primary btn-lg btn-block">系统之家</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group col-lg-offset-2">
            <a href="http://www.csdn.net/"
               class="btn btn-danger btn-lg btn-block">CSDN</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://www.w3cschool.cn"
               class="btn btn-danger btn-lg btn-block">W3Cschool</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="https://github.com/"
               class="btn btn-success btn-lg btn-block">GitHub</a>
        </div>
        <div
                class="col-lg-2 col-md-3 col-sm-3 col-xs-6 btn-group">
            <a href="http://ipsapro.isoftstone.com/"
               class="btn btn-danger btn-lg btn-block">IPSA</a>
        </div>
    </div>
    <br> <br> <br> <br>
    <div class="row">
        <div class="col-lg-5 col-md-4 col-ms-3 col-xs-2">
            <img src="img/head.png" alt="error" class="img-circle">
        </div>
        <div class="col-lg-7 col-md-8 col-ms-9 col-xs-10">
            <a href="#">Whistleblowing</a>&nbsp;&nbsp;&nbsp;<a href="#">Partnership</a>
            &nbsp;&nbsp;&nbsp;<a href="#">About Us</a>
            <br>Copyright&copy;Hyosung,All Rights Reserved.
        </div>
    </div>
    <br>

    <!--折叠-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                       aria-expanded="true" aria-controls="collapseOne">
                        Q技能
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    扔出一杆冰矛，冰矛会在命中一名敌人后碎裂，对该名敌人造成70/100/130/160/190(+0.7AP)魔法伤害，以及16/19/22/25/28%的减速效果，减速持续1.5秒。碎片会穿过目标，对被命中的其它敌人造成等量的伤害。<br>
                    伤害：75/110/145/180/215<br>
                    减速：16/19/22/25/28%<br>
                    冷却时间：10/8.5/7/5.5/4秒<br>
                    消耗：60/63/66/69/72法力<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        W技能
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    对周围的敌人造成70/100/130/160/190(+0.3AP)魔法伤害和持续1.1/1.2/1.3/1.4/1.5秒的束缚效果。<br>
                    伤害：70/110/150/190/230<br>
                    束缚持续时间：1.1/1.2/1.3/1.4/1.5<br>
                    冷却时间：14/13/12/11/10<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        E技能
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    放出一团寒冰魔爪，对命中的所有敌人造成70/115/160/205/250(+0.6AP)魔法伤害。再次激活这个技能，就能让丽桑卓传送到寒冰魔爪的当前位置。<br>
                    伤害：70/115/160/205/250<br>
                    冷却时间：24/21/18/15/12<br>
                    法力消耗：40法力<br>
                </div>
            </div>
        </div>
    </div>

    <!--模态框-->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("body").ready(load())

    // 页面加载
    function load() {
        var input = $("#focusedInput");
        var random = Math.floor(Math.random() * 10);
        var tip = readFile("resource.txt", random);
        input.attr("placeholder", tip);
    }

    // ActiveX读文件
    function readFile(filename, number) {
        var fso = new ActiveXObject("Scripting.FileSystemObject");
        var f = fso.OpenTextFile(filename, 1);
        var s = "";
        while (!f.AtEndOfStream && 0 != number) {
            s = f.ReadLine() + "\n";
            number--;
        }
        f.Close();
        return s;
    }

    // ActiveX写文件
    function writeFile(filename, filecontent) {
        var fso = new ActiveXObject("Scripting.FileSystemObject");
        var f = fso.OpenTextFile(filename, 8, true);
        f.WriteLine(filecontent);
        f.Close();
    }
</script>
</body>
</html>