<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<input type="checkbox" id="boxid" onclick="selAllNo()"/>全选/全不选
<br/>
<input type="checkbox" name="hobby"/>篮球
<input type="checkbox" name="hobby"/>足球
<input type="checkbox" name="hobby"/>羽毛球
<input type="checkbox" name="hobby"/>乒乓球
<br/>
<input type="button" value="全选" onclick="selAll()"/>
<input type="button" value="全不选" onclick="selNo()"/>
<input type="button" value="反选" onclick="selOther()"/>
<script type="text/javascript">

function selAllNo(){
	var box1 = document.getElementById("boxid");
	if(box1.checked == true){
	    selAll();
	}else{
	    selNo();
	}
}

function selAll(){
    var hobbys = document.getElementsByName("hobby");
	for(var i=0;i<hobbys.length;i++){
		var hobby1 = hobbys[i];
		hobby1.checked = true;
	}
}

function selNo(){
    var hobbys = document.getElementsByName("hobby");
	for(var i=0;i<hobbys.length;i++){
		var hobby1 = hobbys[i];
		hobby1.checked = false;
	}
}

function selOther(){
    var hobbys = document.getElementsByName("hobby");
	for(var i=0;i<hobbys.length;i++){
		var hobby1 = hobbys[i];
		if(hobby1.checked == true){
		    hobby1.checked = false;
		}else{
			hobby1.checked = true;
		}
	}
}

</script>
</body>
</html>