<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<body>
		<div id="div1" style="float:left;">
			<select id="select1" multiple="multiple" style="width:100px;height:100px;">
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
			</select>
			<br/>
			<input type="button" value="添加到右边" onclick="selToRight()"/>
			<br/>
			<input type="button" value="全部添加到右边" onclick="allToRight()"/>
		</div>
		<div id="div2">
			<select id="select2" multiple="multiple" style="width:100px;height:100px;">
			    <option>Q</option>
				<option>W</option>
				<option>E</option>
				<option>R</option>
			</select>
			<br/>
			<input type="button" value="添加到左边"  onclick="selToLeft()"/>
			<br/>
			<input type="button" value="全部添加到左边" onclick="allToLeft()"/>
		</div>
		<script type="text/javascript">
		function selToRight(){
			var select1 = document.getElementById("select1");
			var select2 = document.getElementById("select2");
			var options1 = select1.getElementsByTagName("option");
			for(var i=0;i<options1.length;i++){
			    var option1=options1[i];
			    if(option1.selected==true){
				    select2.appendChild(option1);
					i--;
                }
			}
		}
		function allToRight(){
			var select1 = document.getElementById("select1");
			var select2 = document.getElementById("select2");
			var options1 = select1.getElementsByTagName("option");
			for(var i=0;i<options1.length;i++){
			    var option1=options1[i];
				select2.appendChild(option1);
				i--;
			}
		}
		function selToLeft(){
			var select1 = document.getElementById("select1");
			var select2 = document.getElementById("select2");
			var options2 = select2.getElementsByTagName("option");
			for(var i=0;i<options2.length;i++){
			    var option2=options2[i];
			    if(option2.selected==true){
				    select1.appendChild(option2);
					i--;
                }
			}
		}
		function allToLeft(){
			var select1 = document.getElementById("select1");
			var select2 = document.getElementById("select2");
			var options2 = select2.getElementsByTagName("option");
			for(var i=0;i<options2.length;i++){
			    var option2=options2[i];
				select1.appendChild(option2);
				i--;
			}
		}
		</script>
	</body>
</html>
