<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<body>
	<select id="provenceid" onchange="add1(this.value)">
	<option value="">--请选择--</option>
	<option value="河北省">河北省</option>
	<option value="浙江省">浙江省</option>
	<option value="湖北省">湖北省</option>
	<option value="云南省">云南省</option>
	<option value="山西省">山西省</option>
	<option value="安徽省">安徽省</option>
	<option value="湖南省">湖南省</option>
	<option value="陕西省">陕西省</option>
	<option value="辽宁省">辽宁省</option>
	<option value="福建省">福建省</option>
	<option value="广东省">广东省</option>
	<option value="甘肃省">甘肃省</option>
	<option value="吉林省">吉林省</option>
	<option value="江西省">江西省</option>
	<option value="海南省">湖南省</option>
	<option value="青海省">青海省</option>
	<option value="黑龙江省">黑龙江省</option>
	<option value="山东省">山东省</option>
	<option value="四川省">四川省</option>
	<option value="台湾省">台湾省</option>
	<option value="江苏省">江苏省</option>
	<option value="河南省">河南省</option>
	<option value="贵州省">贵州省</option>
	<option value="内蒙古自治区">内蒙古自治区</option>
	<option value="广西壮族自治区">广西壮族自治区</option>
	<option value="西藏自治区">西藏自治区</option>
	<option value="宁夏回族自治区">宁夏回族自治区</option>
	<option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
	<option value="北京">北京</option>
	<option value="天津">天津</option>
	<option value="上海">上海</option>
	<option value="重庆">重庆</option>
	<option value="香港特别行政区">香港特别行政区</option>
	<option value="澳门特别行政区">澳门特别行政区</option>
	
	</select>
	<select id="cityid">
	
	</select>
	<script type="text/javascript">
	var arr = new Array(34);
	arr[0] = ["河北省","石家庄","保定","唐山","承德","廊坊","沧州","衡水","邢台","邯郸","秦皇岛","张家口"];
	arr[1] = ["浙江省","杭州","宁波","温州","绍兴","湖州","嘉兴","金华","衢州","台州","丽水","舟山"];
	arr[2] = ["湖北省","武汉","黄石","十堰","宜昌","襄阳","鄂州","荆门","孝感","荆州","黄冈","咸宁","随州"];
	arr[3] = ["云南省","昆明","曲靖","玉溪","昭通","保山","丽江","普洱","临沧","德宏","怒江","迪庆","大理","楚雄","红河","文山","西双版纳"];
	arr[4] = ["山西省","太原","大同","阳泉","长治","晋城","朔州","晋中","运城","忻州","临汾","吕梁"];
	arr[5] = ["安徽省","合肥","芜湖","蚌埠","淮南","马鞍山","淮北","铜陵","安庆","黄山","阜阳","宿州","滁州","六安","宣城","池州","毫州"];
	arr[6] = ["湖南省","长沙","株洲","湘潭","衡阳","邵阳","岳阳","常德","张家界","益阳","娄底","郴州","永州","怀化","湘西"];
	arr[7] = ["陕西省","西安","宝鸡","咸阳","渭南","铜川","延安","榆林","安康","汉中","商洛","杨凌"];
	arr[8] = ["辽宁省","沈阳","大连","鞍山","抚顺","本溪","丹东","锦州","营口","阜新","辽阳","盘锦","铁岭","朝阳","葫芦岛"];
	arr[9] = ["福建省","福州","厦门","漳州","泉州","三明","莆田","南平","龙岩","宁德","平潭"];
	arr[10] = ["广东省","广州","深圳","珠海","汕头","佛山","韶关","湛江","肇庆","江门","茂名","惠州","梅州","嘉兴","汕尾","河源","阳江","清远","东莞","中山","潮州","揭阳","云浮"];
	arr[11] = ["甘肃省","兰州","嘉峪关","金昌","白银","天水","酒泉","张掖","武威","定西","陇南","平凉","庆阳","临夏","甘南"];
	arr[12] = ["吉林省","长春","吉林","四平","辽源","通化","白山","白城","松原","延边","长白山","梅河口","公主岭"];
	arr[13] = ["江西省","南昌","九江","上饶","抚州","宜春","吉安","赣州","景德镇","萍乡","新余","鹰潭"];
	arr[14] = ["海南省","海口","三亚","三沙","儋州"];
	arr[15] = ["青海省","西宁","海东","海北","黄南","海南","果洛","玉树","海西"];
	arr[16] = ["黑龙江省","哈尔滨","齐齐哈尔","鸡西","鹤岗","双鸭山","大庆","伊春","佳木斯","七台河","牡丹江","黑河","绥化","大兴安岭"];
	arr[17] = ["山东省","济南","青岛","淄博","枣庄","东营","烟台","潍坊","济宁","泰安","威海","日照","滨州","德州","聊城","临沂","菏泽","莱芜"];
	arr[18] = ["四川省","成都","绵阳","自贡","攀枝花","泸州","德阳","广元","遂宁","内江","乐山","资阳","宜宾","南充","达州","雅安","阿坝","甘孜","凉山","广安","巴中","眉山"];
	arr[19] = ["台湾省","台北","新北","桃园","台中","台南","高雄"];
	arr[20] = ["江苏省","南京","无锡","徐州","常州","苏州","南通","连云港","淮安","盐城","扬州","镇江","泰州","宿迁"];
	arr[21] = ["河南省","郑州","开封","洛阳","平顶山","安阳","鹤壁","新乡","焦作","濮阳","许昌","漯河","三门峡","商丘","周口","驻马店","南阳","信阳","济源"];
	arr[22] = ["贵州省","贵阳","遵义","六盘水","安顺","铜仁","毕节","黔西南","黔东南","黔南"];
	arr[23] = ["内蒙古自治区","呼和浩特","包头","乌海","赤峰","通辽","鄂尔多斯","呼伦贝尔","巴彦淖尔","乌兰察布","兴安盟","锡林郭勒","阿拉善盟"];
	arr[24] = ["广西壮族自治区","南宁","柳州","桂林","梧州","北海","防城港","钦州","贵港","玉林","百色","贺州","河池","来宾","崇左"];
	arr[25] = ["西藏自治区","拉萨","昌都","日喀则"];
	arr[26] = ["宁夏回族自治区","银川","石嘴山","吴忠","固原","中卫"];
	arr[27] = ["新疆维吾尔自治区","乌鲁木齐","克拉玛依","吐鲁番","哈密","阿克苏","喀什","和田","昌吉","博尔塔拉","巴音郭勒","克孜勒苏","伊犁","石河子","阿拉尔","图木舒克","五家渠","北屯","铁门关","双河","克可达拉","昆玉"];
	arr[28] = ["北京","东城区","柳州西城区","朝阳区","丰台区","石景山区","海淀区","顺义区","通州区","大兴区","房山区","门头沟区","昌平区","平谷区","密云区","怀柔区","延庆区"];
	arr[29] = ["天津","和平区","河东区","河西区","南开区","河北区","红桥区","滨海新区","东丽区","西青区","津南区","北辰区","武清区","宝坻区","宁河区","静海区","蓟州区"];
	arr[30] = ["上海","黄浦区","徐汇区","长宁区","静安区","普陀区","虹口区","杨浦区","浦东新区","闵行区","宝山区","嘉定区","金山区","松江区","青浦区","奉贤区","崇明区"];
	arr[31] = ["重庆","渝中区","大渡口区","江北区","沙坪坝区","九龙坡区","南岸区","北碚区","渝北区","巴南区","涪陵区","綦江区","大足区","长寿区","江津区","合川区","永川区","南川区","璧山区","铜梁区","潼南区","荣昌区","万州区","开州区","黔江区","梁平区","武隆区","城口县","丰都县","垫江县","忠县","云阳县","奉节县","巫山县","巫溪县 ","石柱县","秀山县","酋阳县","彭水县"];
	arr[32] = ["香港特别行政区","香港岛","九龙半岛","新界"];
	arr[33] = ["澳门特别行政区","花地玛堂","圣安多泥塘","大唐区"];
	function add1(val){
		var city1 = document.getElementById("cityid");
		var options1 = city1.getElementsByTagName("option");
		for(var k=0;k<options1.length;k++){
			city1.removeChild(options1[k]);
			k--;
		}
		for(var i=0;i<arr.length;i++){
			var arr1 = arr[i];
			var arrfirst = arr1[0];
			if(arrfirst == val){
				for(var j=1;j<arr1.length;j++){
					var arrother = arr1[j];
					var option1 = document.createElement("option");
					var text1 = document.createTextNode(arrother);
					option1.appendChild(text1);
					city1.appendChild(option1);
				}
			}
		}
	}
	</script>
    </body>
</html>
