<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>标签演示</h1>
	<hr>
	<form action="deal.html" method="post" name="login">
		<table>
			<tr>
				<th>账户：</th>
				<td><input type="text" name="username" value="" maxlength="16" /></td>
			</tr>
			<tr>
				<th>密码：</th>
				<td><input type="password" name="password" value="" /></td>
			</tr>
			<tr>
				<th>性别：</th>
				<td><input type="radio" name="gender" value=""
					checked="checked" />男 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"
					name="gender" value="" />女</td>
			</tr>
			<tr>
				<th>爱好：</th>
				<td><input type="checkbox" name="favourite" value="" />吃 <input
					type="checkbox" name="favourite" value="" />喝 <input
					type="checkbox" name="favourite" value="" />玩 <input
					type="checkbox" name="favourite" value="" />乐</td>
			</tr>
			<tr>
				<th>学历：</th>
				<td><select
					name="ambition">
						<option value=""></option>
						<option value="">博士</option>
						<option value="">硕士</option>
						<option value="">本科</option>
						<option value="">大专</option>
						<option value="">中专</option>
						<option value="">高中</option>
						</select></td>
			</tr>
			<tr>
				<th>简历：</th>
				<td><textarea rows="4" cols="16"></textarea></td>
			</tr>
			<tr>
				<th>头像：</th>
				<td><input type="file" name="picture"/></td>
			</tr>
		</table>
		<input type="submit" value="提交"><input type="reset" value="清空">
	</form>
</body>
</html>