<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1" id="tableid">
		<tr>
			<td>操作</td>
			<td>编号</td>
			<td>姓名</td>
		</tr>
		<tr>
			<td><input type="button" value="插入" onclick="s1('001','张三');"/></td>
			<td>001</td>
			<td>张三</td>
		</tr>
		<tr>
			<td><input type="button" value="插入" onclick="s1('002','李四');"/></td>
			<td>002</td>
			<td>李四</td>
		</tr>
		<tr>
			<td><input type="button" value="插入" onclick="s1('003','王五');"/></td>
			<td>003</td>
			<td>王五</td>
		</tr>
	</table>
	<input type="button" value="新建行" onclick="add1();">
	<script type="text/javascript">
	function s1(a,b){
		var c = window.opener;
		c.document.getElementById("userid").value=a;
		c.document.getElementById("username").value=b;
		window.close();
	}
	function add1(){
		var table1 = document.getElementById("tableid");
		var tr1 = document.createElement("tr");
		var td1 = document.createElement("td");	
		var td2 = document.createElement("td");	
		var td3 = document.createElement("td");
		var input1 = document.createElement("input");
		var text2 = document.createTextNode("004");
		var text3 = document.createTextNode("赵六");
		input1.type = "button";
		input1.value = "插入";
		input1.onclick = "s1('004','赵六');"
		td1.appendChild(input1);
		td2.appendChild(text2);
		td3.appendChild(text3);
		table1.appendChild(tr1);
		tr1.appendChild(td1);
		tr1.appendChild(td2);
		tr1.appendChild(td3);
	}
	</script>
</body>
</html>